@using Business.Areas.Manage.ViewModels.Blog;
@model List<Setting>;
<div>
    <table class="table table-dark table-striped" style="width:100%;">

        <thead style="width:100%;">
            <tr>
                <th scope="col" width="300px"><h1>SettingId</h1></th>
                <th scope="col" width="500px">Key</th>
                <th scope="col" width="500px">Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row"><h1>@item.Id</h1></th>
                    <td><h3>@item.Key</h3></td>
                    <td><h3>@item.Value</h3></td>
                    <td>
                        <a class="btn btn-warning " asp-controller="Setting" asp-action="Update" asp-route-id="@item.Id">Update</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>